* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
/* body {
    background-color: rgba(65, 105, 225);
} */

/* ******************   Navbar styling START *********** */
.navbar {
    position: fixed;
    width: 100%;
    padding: 25px 15px;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); */
    /* border-top: 15px solid #f7af09; */
    background-color: #f7fcf6;
    z-index: 1;
}

.navbar h1 {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    /* border-bottom: 5px solid #f7af09; */
    line-height: 27px;
    border-radius: 3px;
    font-weight: 100;
    position: relative;
}
.logo {
    font-family: 'Vibur', sans-serif;
}
.logo:hover {
    cursor: pointer;
}
#andrew {
    font-family: 'Vibur', sans-serif;
    font-size: 2.25rem;
    color:#27233A;



}
#liera {
    color:rgba(65, 105, 225);
    font-family: 'Vibur', sans-serif;
    font-size: 2.25rem;


    
}

.nav-content  a{
    color: #27233A;
    display: inline-block;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 40px;
    font-weight: 100;
    text-decoration: none;
}
.nav-content a:hover {
    cursor: pointer;
    /* border-bottom: 1px solid rgba(65, 105, 225); */
    transform: scale(1.05);
    transition: ease-in 0.2s;
    color: rgba(65, 105, 225);
}
.max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}
/* ******************   Hero/Main content styling START *********** */
#hero {
    /* display: flex; */
    height: 92vh;
    width: 100vw;
    /* background-color: rgba(99, 199, 33, 0.5); */
    /* background: repeating-radial-gradient(
        circle,
        purple,
        purple 20px,
        #4b026f 20px, 
        #4b026f 40px
        ); */
    padding: 50px 0 0 15px;
    background-color: #f7fcf6;

    ;

    }

.hero-right {
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: auto;

}
.hero-right h1 {
    font-size: 2.5rem; 
    margin-top: 30px;
    color: #27233A;
    font-family: 'Source Sans Pro', sans-serif;
    line-break: auto;
    text-align: center;
    font-weight: 300;
}
#name {
    color:rgba(65, 105, 225);
    font-size: 7rem;
    font-family: 'Lato', sans-serif;
    line-height: 100px;
    line-break: 15px;
    margin: 10px;
    width: 100%;
    text-align: center;

}
#glad {
    font-style: italic;
    font-size: 3rem;
}
.typed-text {
    font-family: 'Vibur';
    color: #DB3069;
    text-align: center;
    width: 100%;
    align-items: center;
    font-size: 3rem;
    font-weight: 100;
}
.cursor {
    display: inline-block;
    width: 2px;
    color: #27233A;
    margin-left: 3px;
    animation: blink 1s infinite;
    font-size: 40px;
    font-weight: bold;
}
@keyframes blink {
    0% {background-color: #27233A; }
    49% {background-color: #27233A;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #27233A;}
}
.cursor.typing {
    animation: none;
    color: #27233A;
}

#download {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #f7fcf6;
    background-color: #DB3069;
    border: none;
    margin-left: 39%;
    border-radius: 20px;
    width: 20%;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    position: absolute;
    font-weight: 300;


}
#download:hover {
    background-color: #f7fcf6;
    color: #DB3069;
    border: 2px solid #DB3069 ;
    transition: all ease 0.2s;
}
/* ******************   Skills styling START *********** */
#skills {
    display: flex;
    width: 100%;
    height: 400px;
    /* background-color: rgba(148, 166, 177, 0.8); */
    /* background-color: #701bfa; */
    /* background-color: rgba(203, 153, 255, 0.25); */
    /* background-color: mediumaquamarine; */
    background-color: #f7fcf6;

}
.skill-box  {
    background-color: rgba(65, 105, 225);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 10px;

}
#skills-head {
    /* color: #f7fff6; */
    color: #f7fcf6;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 45px;
    /* margin: 0 40% 20px; */
    font-weight: 900;
    /* background-color: rgb(212, 169, 255); */
    /* background-color: rgba(203, 153, 255); */
    width: 100%;
}
#skill-blurb {
    text-align: center;
    font-weight: 100;
    font-size: 1.25rem;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 100%;
    /* background-color: white; */
    /* background-color: #BCEBCB; */
    /* background-color: #27233A; */
    font-style: italic;
    color: #f7fcf6;
    /* border-radius: 5px; */
    /* border: 3px solid #f7fff6; */
}
/* #click {
font-family: 'Vibur', sans-serif;
font-size: 1.25rem;
} */
.skills-container {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 5px;
    /* border: 3px solid yellow; */

}

.skills-card {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    cursor: pointer;

}
.skills-card:hover {
    transform: scale(1.05);
}

.skills-card.is-flipped, .skills-card-2.is-flipped, .skills-card-3.is-flipped {
    transform: rotateX(180deg);
  }
.skills-1-front {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
}
.skills-1-front img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    border-radius: 7px;
    border-bottom: 50px solid #090446;
}
/* .skills-1-front img:hover {
    opacity: 0.9;
} */
#dthinking {
    color: #f7fcf6;
    z-index: 1;
    margin: 160px auto auto auto;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.skills-2-front img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    border-radius: 7px;
    border-bottom: 50px solid  #090446;
}
#fed {
    color: #f7fcf6;
    z-index: 1;
    margin: 160px auto auto auto;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;

}
.skills-3-front img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    border-radius: 7px;
    border-bottom: 50px solid  #090446;
}
#idelight {
    color: #f7fcf6;
    z-index: 1;
    margin: 160px auto auto auto;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;

}
.skills-card-1 {
    display: flex;
    flex-direction: column;
}
.skills-1-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: white;
    padding: 25px;
    color: #27233A;
    font-weight: 300;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;

   

    /* border: 1px solid black; */

}
.skills-1-back p, .skill-top-1 p, .skills-2-back p, .skill-top-2 p, .skill-top-3 p, .skills-3-back p {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #27233A;

}
.skills-1-back p {
    font-weight: 300;
    color: #27233A;

}
.skill-top-1 {
    border-top: 12px #090446 solid;
    z-index: 100; 
    position: absolute;
    width: 100%;
    height: 45px !important;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: #090446; 
    align-content: flex-start !important;  

    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); */

}
.skill-top-1 h1 {
    font-size: 1.5rem;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #f7fcf6;

}
.skill-top-2 h1 {
    font-size: 1.5rem;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #f7fcf6;


}
.skill-top-3 h1 {
    font-size: 1.5rem;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #f7fcf6;


}
#idea {
    color: #DB3069;
    font-weight: 600;
}
#implement {
    color: #DB3069;
    font-weight: 600;

}

.skills-2-front {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
}
.skill-top-2 {
    border-top: 12px #090446 solid;
    z-index: 100; 
    position: absolute;
    width: 100%;
    height: 50px !important;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: #090446; 
    align-content: flex-start !important;  
}
.skills-2-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: white;
    padding: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
#every {
    color: #DB3069;
    font-weight: 600;


}
.skills-2-back p {
    margin-bottom: 10px;
    font-weight: 300;
    color: #27233A;
}
.skills-3-front {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;

    

}
.skills-3-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: white;
    padding: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
#click {
    color: #DB3069;
    font-weight: 600;


}
.skills-3-back p {
    font-weight: 300;
    color: #27233A;
}
.skill-top-3 {
    border-top: 12px #090446 solid;
    z-index: 100; 
    position: absolute;
    width: 100%;
    height: 50px !important;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: #090446; 
    align-content: flex-start !important;  
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.skills-container div {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin: 0 10px;
    height: 200px;
    justify-content: flex-end;
    font-size: 18px;
    align-items: center; 
}


/* ******************   Project styling START *********** */
.pro-container {
    position: relative;
    width: 40%;
    border-radius: 16px;
    margin: 25px;
}
.pro-box {
    /* background-color: #5FAD56; */
    background-color: rgba(65, 105, 225);

        z-index: 1000;
        display: flex;
        flex-direction: column;
        line-height: 25px;
        padding: 10px;
}
#pro-head {
    color: #f7fff6;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 45px;
    /* margin: 0 40% 20px; */
    font-weight: 900;
    /* background-color: rgb(212, 169, 255); */
    /* background-color: rgba(203, 153, 255); */
    width: 100%;
    /* background-color: #DAD4EF; */
}
#pro-blurb {
    text-align: center;
    font-weight: 100;
    font-size: 1.25rem;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 100%;
    font-style: italic;
    color: #f7fcf6;
}
.pro-img {
    display: block;
    width: 100%;
    border-radius: 7px;
    border-bottom: 50px solid #090446;
    height: 400px;

}
.case-study {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 7px;
    padding: 10px;
    
}
.case-study:hover {
    transform: scale(1.25);
    border-color: rgba(65, 105, 225);
    transition: all ease 0.2s;
}

.pro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: rgba(0,0,0,.8);
    /* background-color: rgba(65, 105, 225, 0.9); */

    color: white;
    font-family:'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.pro-overlay:hover {
    opacity: 1;
}
.pro-overlay:hover > * {
    transform: translateY(0);
}

.pro-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.pro-title {
    font-size: 1.75rem;
}
.pro-description {
    font-size: 1.25rem;
    margin-top: 0.25rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 12.5px;
    font-weight: 400;
}
.pro-overlay h4 {
    margin-top: 42.5px;
    font-size: 1.25rem;
}
.front-desc {
    position: absolute;
    color: #f7fff6;
    font-size: 1.75em;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: -42.5px;
    opacity: 1 !important;  
}










#project {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: rgba(123, 211, 211); */
    background-color: #f7fff6;
    justify-content: center;
    align-items: center;

}
/* .pro-container {
display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
} */
/* .pro-card {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    cursor: pointer;
} */
/* .pro-card.is-flipped, .pro-card-2.is-flipped, .pro-card-3.is-flipped {
    transform: rotateX(180deg);
  } */
/* .pro-1-front {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: teal;
   
    
} */
/* .pro-hide {
    position: absolute;
    background-color: rgb(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.pro-hide-text {
    position: absolute;
} */
/* .pro-1-back {
    position: absolute;
    width: 55%;
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: tomato;
    padding: 15px;
} */

/* #wanderButton {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: #f7af09;
    border: none;
    border-radius: 7px;
    width: 100%;
    font-family: 'Inconsolata', sans-serif;
    font-size: 22px;
} */

/* .pro-2-front {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: teal;
}
.pro-2-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    text-align: center;
    background-color: white
} */
/* .pro-3-front {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: teal;
} */
/* .pro-3-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    text-align: center;
    background-color: white
}  */
/* .pro-1-front img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    border-radius: 7px;
    border-bottom: 50px solid #f7af09;
}
#wander {
    position: absolute;
    color: white;
    z-index: 1;
    margin: 250px auto auto auto;
    font-size: 22px;
}
#homi {
    position: absolute;
    color: white;
    z-index: 1;
    margin: 250px auto auto auto;
    font-size: 22px;
}
#gmshelter {
    position: absolute;
    color: white;
    z-index: 1;
    margin: 250px auto auto auto;
    font-size: 22px;
}
.pro-2-front img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    border-radius: 7px;
    border-bottom: 50px solid #f7af09;
}
.pro-3-front img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    border-radius: 7px;
    border-bottom: 50px solid #f7af09;
} */


/* .pro-container div {
    display: flex;
    border-radius: 7px;
    margin: 20px;
    height: 300px;
    width: 75%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* ******************   About styling START *********** */
#about {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: #701bfa; */
    background-color: #f7fff6;
}
.about-box {
    /* background-color: #FF7F11; */
    background-color: rgba(65, 105, 225);
    
    z-index: 1000;
        display: flex;
        flex-direction: column;
        line-height: 25px;
        padding: 10px;
}
#about-blurb {
    text-align: center;
    font-weight: 100;
    font-size: 1.25rem;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 100%;
    font-style: italic;
    color: #f7fcf6;
}
.about-container {
    display: flex;
    margin: 20px;
    justify-content: center;
}
#pfp {
    height: 500px;
    float: left;
    margin-top: 30px;
}
#about-head {
    color: #f7fff6;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 45px;
    /* margin: 0 40% 20px; */
    font-weight: 900;
    /* background-color: rgb(212, 169, 255); */
    /* background-color: rgba(203, 153, 255); */
    width: 100%;
    /* background-color: #CFDEE7; */
}
.ab-me {
    display: flex;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    padding: 15px;
    font-weight: 300;
    margin: auto;
    width: 50%;
    line-height: 1.25em;
    word-wrap:initial;
}
/********* Footer sytling START ******** */
#footer-sec {
    height: 200px;
    background-color: rgba(65, 105, 225);
    width: 100%;
    display: flex;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 50px;
    margin-top: 15px;
}
.footer-container img {
  
    height: 50px;
    width: 50px;
}
#email {
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    color:#f7fff6;
    font-weight: 300;


}
#contact-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    color:#f7fff6;
}
/* Media Queries and Responsive Web Design */

@media only screen and (max-width: 500px) {
    .navbar {
        background-color: rgba(65, 105, 225);
    }
    .logo {
        margin-left: 20%;
        color: #f7fff6;
        padding: none;
    }
    #andrew {
        color:#f7fcf6;
    }
    #liera {
        color: #f7fcf6;
    }
    .nav-content a{
        display: none;
    }
    
    #hero {
        width: 100%;
        height: 90vh;

    }
    #glad {
        font-size: 1.75rem;
    }
    .hero-right h1 {
        font-size: 2rem; 
        margin-top: 30px;
        color: #27233A;
        font-family: 'Source Sans Pro', sans-serif;
        line-break: auto;
        text-align: center;
        font-weight: 300;
    }
    #name {
        font-size: 3.5rem;
        width: 100%;
    }
    #download {
        width: 50%;
        margin-left: 22.5%;
    }
    #skills {
        flex-direction: column;
        height: 750px;

    }
    #skill-blurb {
        font-size: 1rem;
    }
    .skills-container {
        flex-direction: column;
        transform: scale(0.9);


    }
    .pro-container {
        position: relative;
        width: 100%;
        border-radius: 16px;
        padding: 5px;
        transform: scale(0.9);
    }
    #pro-blurb {
        font-size: 1rem;
    }
    .front-desc {
        font-size: 1.25rem;
    }
    .about-container {
        flex-direction: column;
        width: 100%;
    }
    #about-blurb {
        font-size: 1rem;
    }
    .ab-me {
        width: 100%;
        font-size: 1.15rem;
        margin: 5px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
    }
   #pfp {
       width: 100%;
       height: 400px;
   }
}